<section id="main">
    <% site.posts.sort('date', -1).each(function(post) { %>
        <%- partial('common/article', { post: post, index: true }) %>
    <% }); %>
</section>

<%- partial('common/create') %>
<%- partial('common/demo') %>
<%- partial('common/sidebar') %>
