<section id="main">
    <%- partial('common/article', {post: page, index: true}) %>

</section>


<aside id="sidebar" bs-affix>
    <div class="toc" bs-scrollspy-list>
        <%- toc(page.content, { class: 'nav', list_number: false }) %>
    </div>
</aside>
