<div class="dbname-prefix">https://</div>
<div class="dbname-container">
    <input class="field" id="dbname" name="dbname" placeholder="<%= __('create.dbname') %>" ng-value="session.lastValidDbname" type="text" <%- attributes %> data-dbname-available="1" />
    <strong>.gadael.com</strong>

    <div class="icon">
        <i class="fa fa-spinner fa-spin"></i>
        <i class="fa fa-check-circle"></i>
        <i class="fa fa-times-circle"></i>
    </div>

</div>
