<aside id="demo">

    <div class="inner">

        <div class="context">

            <p><%= __('demo.description') %></p>

            <a class="btn" href="https://demo.gadael.com" target="_blank">
                <i class="fa fa-star"></i> <%= __('demo.button') %>
            </a>
        </div>


    </div>
</aside>
