

<aside id="loginservices">

    <div class="bloc">

        <h2>3<sup>rd</sup> party provider</h2>

        <p><a href="../google-signin"><i class="fa fa-key"></i> Google login</a></p>
    </div>
</aside>
