
<aside id="private">
    <div id="account" ng-init="isPrivate=true">
        <% if (page.path !== page.lang+'/account/index.html') { %>
        <div class="back">
            <a href="<%= url_for_lang('private') %>"><i class="fa fa-chevron-circle-left"></i> Private space</a>
        </div>
        <% } %>

        <br />

        <a class="display-name" href="<%= url_for_lang('account') %>">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x"></i>
            </span>
            <br />
            {{session.user.firstname}} {{session.user.lastname}}
        </a>

        <p>You are logged in as:<br />
            <span class="email">{{session.user.email}}</span>
        </p>

        <p class="logout"><a href="<%= url_for_lang('logout') %>"><i class="fa fa-times-circle"></i> Disconnect</a></p>
    </div>
</aside>
