
<aside id="private">
    <div id="account" ng-init="isPrivate=true">
        <% if (page.path !== page.lang+'/account/index.html') { %>
        <div class="back">
            <a href="<%= url_for_lang('private') %>"><i class="fa fa-chevron-circle-left"></i> <%= __('account.privatespace') %></a>
        </div>
        <% } %>

        <br />

        <%- partial('common/usersession') %>
        <%- partial('common/social') %>
    </div>
</aside>
