$link-dark
    &,
    &:visited
        color: color-default
        transition: 0.2s ease
    &:hover,
    &:visited:hover
        color: color-link

$block-caption
    line-height: 1em
    // color: color-grey
    text-decoration: none
    text-transform: uppercase

$block
    background: color-light-bg
    box-shadow: 0 1px 2px rgba(0,0,0,0.05)

$block-shadow
    background: color-light-bg
    box-shadow: 0 1px 4px rgba(0,0,0,0.3)


$base-button
    cursor: pointer
    border: none
    color: white
    width: 150px
    height: 40px
    display: block
    font-size: 14px
    line-height: 40px
    text-align: center
    margin: 10px auto
    background: color-button-main
    border-radius: 20px
    transition: 0.2s ease
    &:hover
        background: color-button-main + #111

$base-style
    h1
        font-size: 2.2em
    h2
        font-size: 2em
        color: color-title1
    h3
        font-size: 1.8em
        color: color-title2
    h4
        font-size: 1.2em
    h5
        font-size: 1em
    h6
        font-size: 1em
        color: color-grey

    h1, h2, h3, h4, h5, h6
        line-height: line-height-title

    hr
        border: 1px dashed color-border
    strong
        font-weight: bold
    em, cite
        font-style: italic
    sup, sub
        font-size: 0.75em
        line-height: 0
        position: relative
        vertical-align: baseline
    sup
        top: -0.5em
    sub
        bottom: -0.2em
    small
        font-size: 0.85em
    acronym, abbr
        border-bottom: 1px dotted
    ul, ol, dl
        margin: 0 20px
        line-height: line-height
    ul, ol
        ul, ol
            margin-top: 0
            margin-bottom: 0
    ul
        list-style: disc
    ol
        list-style: decimal
    dt
        font-weight: bold

$base-input
    width:100%
    padding: .5em
    color: color-default
    transition: 0.2s ease
    box-sizing: border-box
    height: auto !important
    line-height: line-height
    font: font-size font-sans
    border: 1px solid color-border !important
    &:focus
        border-color: color-link !important

$base-label
    display: block
    margin: .2em 0 .3em 0
    text-shadow: color-border 0 0 4px


$back
    margin: 0 0 1em 0
    padding: 1em
    background: color-button-main
    a
        color: #fff
        &:hover
            text-decoration: none
            color: #ddd
            transition: 0.2s ease
