.accountform
    margin: block-margin 0
    @extend $base-style
    @extend $block
    line-height: line-height
    padding: 0 1.8em

    form
        @extend $base-form
        #dbname
            width: 150px
            text-align: right
            font-weight: bold


    .security
        margin: 1.5em 0
        padding: 1em
        background: color-fashy-background
        font-weight: bold
        .fa-warning
            font-size: 280%
            display:inline-block
            margin-right: .5em
            float: left
            color:white




    h2,h3
        padding: line-height 0



    .danger, .warning
        text-align: center
        .fa
            font-size: 5em

    .danger .fa
            color: #aa2b2b

    .warning .fa
            color: #ffb614



.accountform, #loginservices
    form
        line-height: line-height
        padding: 2em 0

    .bloc
        @extend $block
        margin: block-margin 0
        line-height: line-height
        padding: 2em 0


#loginservices
    @media mq-normal
        column(profile-column)
    @media mq-tablet
        column(profile-column-tablet)

    h2
        font-size: 1.5em
        padding: 0 .8em line-height line-height
        sup
            position: relative
            top: -.15em
            vertical-align: top

    p
        margin: 1.5em 2em .5em 2em

    a
        @extend $base-button
        background: color-button-onfire
        width:100%
        &:hover
            background: color-button-onfire + #111
