.private-content
    display: none

.page-loaded .company-loaded .private-content
    display: block

#account_home
    margin: block-margin 0
    @extend $base-style
    @extend $block
    line-height: line-height

    .home-body
        padding: 0 1.8em
        h2
            padding: line-height 0

    .header
        padding: 2em line-height
        text-align: right
        background: color-fashy-background
        a
            @extend $base-button
            width: 200px
            margin:0 0 0 auto
            background: color-dark-background
            &:hover
                background: color-dark-background + #333

        .status
            color: #000
            font-size: 80%
            font-weight: bold
            text-shadow: #fff 0 0 4px

            .disabled .fa
                color: rgb(224, 0, 0)
            .maintenance .fa
                color: rgb(255, 145, 0)
            .online .fa
                color: rgb(97, 237, 0)

        .left
            text-align:left


    .missing-password
        padding: 2em line-height
        background: color-dark-background
        color: #fff


    .bloc
        border: none
        display: block
        margin: 15px 0px 15px 12px
        padding: 30px 0
        transition: 0.2s ease
        a
            &:hover
                color: color-button-main + #111

        .fa-stack
            font-size: 300%
            display: inline-block
            vertical-align: top
            margin-right: .3em
            color: color-grey

            .fa-stack-2x
                color: rgba(color-button-main, 0.20)

        .fa-bolt
            color: red

        .content
            display:inline-block
            width: 70%

        dl
            font-size:80%
            margin-top:.6em
            margin-left:0
            width: 30%
            display: inline-block
            vertical-align:top
            margin-right: 2em

            dt
                font-weight: bold
            dd
                color: color-grey
                margin-left: 5px



#account_plan
    label.main
        font-weight: bold

#account_creditcard
    .text-center
        text-align: center
    .col1
        padding-right: 2em
    .col2
        select
            width 45%
