#account_home
    margin: block-margin 0
    @extend $base-style
    @extend $block
    line-height: line-height

    .home-body
        padding: 0 1.8em
        h2
            padding: line-height 0

    .header
        padding: 2em line-height
        text-align: right
        background: color-fashy-background
        a
            @extend $base-button
            width: 200px
            margin:0 0 0 auto
            background: color-dark-background
            &:hover
                background: color-dark-background + #333

        .status
            color: #000
            font-size: 80%
            font-weight: bold
            text-shadow: #fff 0 0 4px

            .disabled .fa
                color: rgb(224, 0, 0)
            .maintenance .fa
                color: rgb(255, 145, 0)
            .online .fa
                color: rgb(97, 237, 0)

        .left
            text-align:left


    .view-company>a, .create-company>a
        border: none
        width: 300px
        display: inline-block
        font-size: 18px
        line-height: 40px
        text-align: center
        margin: 15px 0px 15px 12px
        padding: 30px 0
        transition: 0.2s ease
        &:hover
            color: white
            background: color-button-main + #111
        .fa
            font-size: 35px
        .fa-bolt
            color: red



#account_plan
    label.main
        font-weight: bold
