#companies
    margin: block-margin 0
    @extend $base-style

    @extend $block
    line-height: line-height

    padding: 0 1.8em

    h2,h3
        padding: line-height 0

    form
        label
            @extend $base-label


        input[type=text], textarea, select
            @extend $base-input

        input[type=number]
            @extend $base-input
            width: 7em

        #company
            width: 150px
            text-align: right
            font-weight: bold

        button
            @extend $base-button

        p
            margin: 2em 0
            em
                color: color-grey

        p.button
            padding: 2em 0 3em 0


    .view-company
        .header
            padding: 1em 2em
            text-align: right
            background: color-widget-background
            border: color-widget-border 1px solid
            a
                @extend $base-button
                width: 200px
                margin:0 0 0 auto
                background: color-dark-background
                &:hover
                    background: color-dark-background + #333
