#create
    @media mq-normal
        column(profile-column)
    @media mq-tablet
        column(profile-column-tablet)

    .buttons
        padding: 2em 0 1em 0
        text-align: center

    button, .btn
        @extend $base-button

    .login
        margin-top: 1em
        text-align: center
        a
            color: color-grey
            &:hover
                color: color-link

    .inner
        @extend $block
        margin-top: block-margin
        background: white

        .context
            padding: line-height 0

        form

            text-align: center
            input[type=text]
                @extend $base-input
                width: 6em
                text-align: right
            button
                margin-top: 2em
                background: color-button-onfire
                &:hover
                    background: color-button-onfire + #111
