// dbname container

.dbname-prefix
    display:inline-block

.dbname-container
    display:inline-block
    .icon
        display:inline-block
        font-size: 140%
        width: 1.3em
        vertical-align:middle
    .fa
        display:none


.dbname-valid .fa-check-circle
    display: inline-block
    color: green

.dbname-invalid .fa-times-circle
    display: inline-block
    color: red

.dbname-loading .fa-spinner
    display: inline-block
