// dbname container

.dbname-prefix
    display:inline-block

.dbname-container
    display:inline-block
    .fa
        display:none

.dbname-valid .fa-check-circle
    display: inline-block
    color: green

.dbname-invalid .fa-times-circle
    display: inline-block
    color: red

.dbname-loading .fa-spinner
    display: inline-block
