#demo
    @media mq-normal
        column(profile-column)
    @media mq-tablet
        column(profile-column-tablet)


    button, .btn
        @extend $base-button
        background: #222
        &:hover
            background: #000
            .fa
                color: yellow

    .inner
        @extend $block
        margin-top: block-margin
        background: white

        .context
            padding: line-height

            p
                margin: 0 0 2em 0
