#sidebar

    .doc-nav
        @extend $block
        margin-top: block-margin
        padding: 0 0 2em 0

    .doc-home
        @extend $back

    .version
        @extend $block
        margin-top: block-margin
        padding: 1em 2em

        label
            @extend $base-label

        select
            @extend $base-input
