#sidebar

    .doc-nav
        @extend $block
        margin-top: block-margin
        padding: 0 0 2em 0

    .doc-home
        @extend $back

    .version
        @extend $block
        margin-top: block-margin
        padding: 1em 2em



        label
            @extend $base-label

        select
            @extend $base-input

        .intro
            margin: 1em 0
            text-align: center
            font-size: 200%
            color: color-grey

        .contribute
            margin: 1em 0
            a
                color: color-sidebar-text

.article-type-doc
    img
        @extend $block-shadow
        max-height: 800px
        max-width: 80%
