#docindex
    .docbloc
        margin: 0.5em 0
        padding: 1em
        border-left: solid transparent 3px
        transition: 0.8s ease

        .doctitle
            font-size: 1.7em
            color: color-link

        .excerpt
            font-size: 0.9em
            color: color-grey

        &:hover
            border-left: solid color-fashy-background 3px
