#footer
    padding: 20px 0
    border-top: 1px solid color-border
    color: color-default
    .outer
        margin-bottom: 0
    a
        color: color-link
        text-decoration: none
        &:hover
            text-decoration: underline

    dl
        dt
            font-size: 0.75em
        dd
            display: inline-block
            margin:5px 5px 0 5px

            a
                font-weight: bold
                text-transform: uppercase
                text-decoration: none
                display: inline-block
                padding: 1px 6px
                color: color-text-on-dark-background
                background: color-dark-background
                border-radius: 2px
                transition: 0.2s ease
                &:hover
                    text-decoration: none
                    color: white
                    background: color-button-onfire

#footer-info
    line-height: line-height
    font-size: 0.85em
    text-align: right
