#homepage
    @extend $base-style
    @extend $block
    margin: block-margin 0
    background: white

    .top-info
        height: 280px
        @media mq-mobile
            height: 180px
        @media mq-mini
            display: none
        background: grey url(images/home-fruit.png) no-repeat 0 0
        .content
            padding: 2.5em 0 0 3em
            color: white
            text-shadow: 0 0 5px rgba(0,0,0,.7)
            font-weight: bold
            h2
                font-size: 4em

            p
                font-size: 2em
                margin: 3em 1.2em 0 0
                text-align: right
                @media mq-mobile
                    margin: 1em .8em 0 0
                    font-size: 1.4em
                @media mq-mini
                    display: none

    .bottom-info
        height: 300px
        background: white url(images/bottom-mountains.png) no-repeat 0 0
        position: relative

        @media mq-mini
            display: none

        .freeplan
            vertical-align:top
            display:inline-block
            left: 150px
            top: 50px
            width: 180px
            height: @width
            margin: 1em 4em
            border-radius: 50%
            border: 6px solid #fff
            background: color-dark-background
            color: color-text-on-dark-background
            text-align: center
            transform: scale(1,1)
            transition: all 0.2s ease-in-out
            font-weight: bold
            border-color: color-fashy-background
            p
                padding: 40px 40px 30px 40px
                font-size: 20px
                i
                    font-size: 150%
                    color: color-fashy-background
                a
                    color: color-button-onfire
            .paidplan
                visibility: hidden
                background: rgba(#ffffff, 0.58)
                padding: .5em 1em
                font-size: 14px
                a
                    color: #444

            &:hover
                z-index: 999
                transform: scale(1.2,1.2)
                box-shadow: 0 1px 10px rgba(0,0,0,0.6)
                background: transparentify(color-dark-background)

                .paidplan
                    visibility: visible

        .logos
            margin: 10em 0 0 4em
            vertical-align:bottom
            display:inline-block
            @media mq-mobile
                display: none

            a
                margin: 2em 3em 0 3em
                display:inline-block
                vertical-align:middle




    .catch-your-eye
        padding: 5px 20px
        background:color-dark-background
        color:color-text-on-dark-background

        .login-button, .customer-button, button
            @extend $base-button
            display:inline-block
            vertical-align: middle

        .customer-button
            display: none // hide ng variables if not loaded
            background: color-button-soft
            &:hover
                background: color-button-soft + #111

        form button
            background: color-button-onfire
            &:hover
                background: color-button-onfire + #111

        form input[type=text]
            width: 6em
            text-align: right
            padding: 5px
            vertical-align: middle
            border: none
            background:transparent
            color:#fff
            border-bottom: #333 1px solid
            &:focus
                background:rgba(255,255,255,.1)

        .logged-in
            display: none // hide ng variables if not loaded
            padding-top: .5em
            font-size: 16px
            .fa-user
                color: color-dark-background

        .left, .right
            @media mq-mobile
                float:none
                text-align:center
            @media mq-mini
                float:none
                text-align:center


    .product-description, .product-advantages
        padding: 2em
        font-size: 1.8em
        text-shadow: #fff 0 0 3px
        color: #3e3026
        @media mq-mobile
            font-size: 1.4em
        @media mq-mini
            font-size: 1.2em

    .product-description
        background: darken(color-background, 4%)
        color: #3e3026
        .fa
            opacity:.4

    .product-advantages
        background: darken(color-background, 4%)
        text-align:right

    .main-carousel
        background: color-light-bg
        .carousel-cell
            width: 350px
            height: 300px
            margin: 40px

            .carousel-cell-image
                padding: 2px
                border:solid #bbb 1px;
                @extend $block-shadow
                margin: 20px
                width: 80%
                transform: scale(1,1)
                transition: all 0.2s ease-in-out
                &:hover
                    position: relative
                    z-index: 999
                    transform: scale(1.8,1.8)
                    box-shadow: 0 1px 10px rgba(0,0,0,0.6)





    .functionalities
        padding: 3em 0
        text-align:center
        background: color-light-bg

        >div
            display: inline-block
            width: 33%
            min-width: 20em
            vertical-align: top

            >div
                min-height: 12em
                margin: .3em
                padding: 1em
                i
                    transition: all 0.5s ease-in-out
                &:hover
                    background:#eee
                    i
                        color: color-button-onfire

            h3
                font-size: 1.6em
                color: #000
                text-shadow: 0 0 4px rgba(0,0,0,.3)
            p
                font-size: .9em

    .home-footer
        padding: 1em
        background: color-dark-background
        color: color-text-on-dark-background
        text-align: right
        a
            margin-left: 2em
            span
                @media mq-mini
                    display: none
            i
                @media mq-mini
                    font-size: 1.6em


/* Appear onc loaded */

.page-loaded #homepage .catch-your-eye
    .logged-in, .customer-button
        display: block
