#homepage
    @extend $base-style
    @extend $block
    margin: block-margin 0
    background: white

    .top-info
        height: 280px
        background: grey url(images/home-fruit.png) no-repeat 0 0
        .content
            padding: 2.5em 0 0 3em
            color: white
            text-shadow: 0 0 5px rgba(0,0,0,.7)
            font-weight: bold
            h2
                font-size: 4em

            p
                font-size: 2em
                margin: 3em 0 0 4em

    .bottom-info
        height: 280px
        background: white url(images/bottom-mountains.png) no-repeat 0 0

    .catch-your-eye
        padding: 5px 20px
        background:color-dark-background
        height: 60px

        .left,.right
            width: 50%
            display:block
        .right
            text-align: right
        .customer-button, button
            @extend $base-button
            display:inline-block
            vertical-align: middle
        form button
            background: color-button-onfire
            &:hover
                background: color-button-onfire + #111
        .field
            padding: 5px
            vertical-align: middle
            border: none
            background:transparent
            color:#fff
            border-bottom: #333 1px solid
            &:focus
                background:rgba(255,255,255,.1)

    .functionalities
        padding: 3em 0
        text-align:center

        >div
            display: inline-block
            width: 33%
            min-width: 20em
            vertical-align: top

            >div
                min-height: 12em
                margin: .3em
                padding: 1em
                &:hover
                    background:#eee
                    i
                        color: color-button-onfire

            h3
                font-size: 1.6em
                color: #000
                text-shadow: 0 0 4px rgba(0,0,0,.3)
            p
                font-size: .9em

    .home-footer
        padding: 1em
        background:color-widget-background
        color:color-sidebar-text-dark
        text-align: right
        a
            @extend $link-dark
            margin-left: 2em
