#loading
    @extend $block-shadow
    margin: 5em 6em
    padding: 5em 3em
    text-align: center

    p
        margin: 2em 0
        line-height: 2em

        em
            font-style: italic
            color: #bbb

    .fa-check
        color: green
