.messages
    position: relative
    display: none

    >div
        @extend $base-style
        @extend $block
        @extend $block-shadow
        margin: block-margin 0

        line-height: line-height
        font-size: 1.3em
        padding: .5em 1em

        position: absolute
        animation: message-appear .5s 1 0s forwards
        top: -150px
        left: (2*block-margin)
        width: 30em
        border-radius: 4px
        text-shadow: #fff 0 0 8px
        font-weight:bold

        &:hover .right .fa
            visibility: visible

    .message-info
        op = 0.85
        background-color: rgba(255, 252, 184, op)
        color: #4a3300
        &:hover
            background-color: alpha(@background-color, op/2)

    .message-error
        op = 0.73
        background-color: rgba(255, 130, 130, op)
        color: #4d0000
        &:hover
            background-color: alpha(@background-color, op/2)

    .right .fa
        visibility: hidden
        font-size: .9em
        color: rgba(0,0,0,0.3)
        cursor: pointer
        text-shadow: none
        &:hover
            color: alpha(@color, 1)

.page-loaded .messages
    display: block


@keyframes message-appear
    0%
        top: -150px
        opacity:.1
    100%
        top: -20px
