#pricing
    margin: block-margin 0
    @extend $base-style

    .content
        padding: 0 line-height line-height line-height

.princing-inner
    @extend $block
    line-height: line-height
    h2
        font-size: 1.5em
        padding: line-height

    table
        width: 100%
        border-collapse: collapse
        border-spacing: 0
        margin: block-margin 0
        td, th
            padding: line-height

        thead th
            font-weight:bold
            width: 28%

        thead th, tbody td, tfoot td
            text-align:center

        td, th
            border-bottom: color-border 1px solid
            .small
                font-size: 10px
                line-height: 12px
                color: color-grey

        tfoot
            p
                height: line-height*2
                padding: .5em 0
                font-weight: bold
            a
                @extend $base-button
                font-weight:bold
                font-size:120%




        .free
            background:color-free
            border-color: lightness(color-free, lightness(color-free)/2)

        .paid
            background:color-paid
            border-color: lightness(color-paid, lightness(color-paid)/6)
