#private
    @media mq-normal
        column(profile-column)
    @media mq-tablet
        column(profile-column-tablet)

    #account
        @extend $block
        margin-top: block-margin

        .back
            @extend $back

    ul
        line-height: line-height
        margin: 2em 0 2em 0

        li
            display: inline
            a
                display:block
                padding: .2em .2em .2em 1.5em
                color: color-grey
                &:hover
                    background: color-link
                    color: white



.usersession
    ul
        margin-left:1em
        line-height: line-height
        li
            padding: 2px
            a:hover
                color: color-button-onfire

    .loginid
        text-align:center
        font-size:85%
    p
        margin: 1em
        line-height: line-height

    .display-name
        display: block
        font-weight:bold
        text-align:center
        color: color-default

    .email
        color: color-grey

    .logout
        padding: 1em 0 0 0
        text-align:center

        a
            @extend $base-button
            background: color-button-soft
            &:hover
                background: color-button-onfire
