.social-links
    & > table
        width: 100%
        td
            text-align: center
            font-size: font-size + 10px
            a
                position: relative
                transition: 0.2s ease
                color: color-default + #333
                &:hover
                    color: color-default
                &.tooltip:hover
                    &:after
                        right: -50%
                        top: -41px
                        color: white
                        background: #333
                        font-size: 14px
                        content: attr(title)
                        display: block
                        padding: 5px 15px
                        position: absolute
                        white-space: nowrap
                        border-radius: 2px
                        text-transform: uppercase
                        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2)
                        z-index: 1
                    &:before
                        top: -12px
                        right: 8px
                        border: solid
                        border-color: #333 transparent
                        border-width: 5px 5px 0 5px
                        content: ""
                        display: block
                        position: absolute
                        z-index: 2
