#sidebar .toc
    
    ol
        margin-left: 1.2em
        line-height: line-height

    a
        color: color-sidebar-text
        &:hover
            color: color-link

    .active>a
        color: color-button-main
        font-weight:bold

    .active .active>a
        color: color-button-onfire

    .nav>li
        margin: 1em 0 1em 0

        >a
            font-size:130%

        >ol
            margin-top: 0.5em
