<section id="main">

    <div id="account_plan" class="accountform">
        <h2>Select your plan</h2>

        <form action="<%= url_for_lang('setplan') %>">

            <div>
                <label class="main"><input type="radio" name="plan" ng-selected="session.user.plan=='free'" /> Free plan</label>
                <div class="plan-description">0 &euro;, limited to 5 active users</div>
            </div>

            <div>
                <label class="main"><input type="radio" name="plan" ng-selected="session.user.plan=='paid'" /> Paid plan</label>
                <div class="plan-description">
                    <label for="userLimit">Select your user limit:</label>
                    limited to
                    <input id="userLimit" type="number" name="userlimit" ng-model="session.user.userlimit" min="10" max="1000" step="5" />
                    active users, {{session.user.userlimit-5}} &euro; / month
                </div>
            </div>

            <p>
                Modification of the user limit will be applied immediatly,
                the payment amount will be modified on the next payout date
            </p>

            <p class="button">
                <button type="submit"><i class="fa fa-save"></i> Save</button>
            </p>
        </form>
    </div>
</section>

<%- partial('common/private') %>
