<section id="main">

    <div id="companies" ng-controller="CompaniesController">
        <h2><%= __('account.title') %></h2>

        <div class="create-company" ng-if="!company">
            <a href="./create-company">Start the application</a>
        </div>


        <div class="view-company" ng-if="company">
            <div class="header">
                <a ng-href="https://{{company.name}}.gadael.com/" target="_blank">
                    <i class="fa fa-external-link-square" aria-hidden="true"></i> <%= __('company.open') %>
                </a>
            </div>

            <a href="./company-settings">Edit application settings</a>
        </div>

        <a href="./plan">Current plan</a>
        <a href="./creditcard">Credit card</a>

        <a href="./export-company">Export the database</a>

        <a href="./settings">My account settings</a>

        <a href="./delete">Delete my account</a>
    </div>
</section>

<%- partial('common/private') %>
