<section id="main">

    <div id="account_settings" class="accountform">
        <h2><%= __('changepassword.title') %></h2>

        <form action="/save-account-password">

            <p>
                <label for="oldpassword"><%= __('changepassword.oldpassword') %></label>
                <input type="text" id="oldpassword" name="oldpassword" required="required" />
            </p>

            <p>
                <label for="newpassword"><%= __('changepassword.newpassword') %></label>
                <input type="text" id="newpassword" name="newpassword" required="required" />
            </p>

            <p class="button">
                <button type="submit"><i class="fa fa-save"></i> Save</button>
            </p>
        </form>
    </div>
</section>

<%- partial('common/private') %>
