<section id="main">

    <div id="companies" ng-controller="CompaniesController">
        <h2>My application dashboard</h2>

        <div class="create-company" ng-if="!company">

            <h3>Your own application is not started, please create it with the form below</h3>

            <form>
                    <p>
                        <label for="company"><%= __('signup.site') %></label>
                        https://<input type="text" id="company" name="company" ng-model="create.dbname" required="required" /><strong>.gadael.com</strong>
                    </p>

                    <p>
                        <label for="public_text">Initialize database with settings from</label>
                        <select id="public_text" ng-model="create.country">
                            <option value="">No initialization</option>
                            <option value="FR">France</option>
                            <option value="UK">United Kingdoms</option>
                            <option value="US">United States</option>
                            <option value="CH">Switzerland</option>
                            <option value="BE">Belgium</option>
                            <option value="IE">Ireland</option>
                        </select>
                    </p>

                    <p class="button">
                        <button ng-click="createCompany()"><i class="fa fa-bolt"></i> Start</button>
                    </p>
            </form>
        </div>


        <div class="view-company" ng-if="company">
            <div class="header">
                <a ng-href="https://{{company.name}}.gadael.com/" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Open application</a>
            </div>

            <h3>Settings</h3>

            <form>

                <p>
                    <label for="companyname">Your company name</label>
                    <input type="text" id="companyname" ng-model="company.name" ng-required="true" />
                </p>

                <p>
                    <label for="public_text">Home page text for public access</label>
                    <textarea id="public_text" ng-model="company.public_text"></textarea>
                </p>

                <p>
                    <label for="private_text">Home page text for public access</label>
                    <textarea id="private_text" ng-model="company.private_text"></textarea>
                </p>

                <p>
                    <label><input type="checkbox" ng-model="company.workperiod_recover_request" /> Use workperiod recoverery</label><br />
                    <em>Allow creation of workperiod recover requests for all of your users</em>
                </p>

                <p>
                    <label><input type="checkbox" ng-model="company.maintenance" /> Maintenance mode</label><br />

                    <em>In maintenance mode, users are allowed to login but modification or creation of requests is not allowed.
                        The administrators actions are not restricted</em>
                </p>

                <p>
                    <label>Alert managers by email after
                        <input type="number" step="1" min="0" max="100" ng-model="company.approb_alert" />
                        days of unanswered approval</label>
                </p>

                <p class="button">
                    <button type="submit" ng-click="updateCompany()"><i class="fa fa-save"></i> Save</button>
                </p>
            </form>
        </div>
    </div>
</section>

<%- partial('common/private') %>
