<section id="main">
    <h2>My application dashboard</h2>

    <div>

    </div>
</section>


<aside id="sidebar">
    <div id="account">
        You are logged in as:
        {{session.firstname}} {{session.lastname}}
    </div>
</aside>
