<section id="loading" data-app-loading>

    <p>https://{{dbname}}.gadael.com/</p>

    <i ng-if="loaded" class="fa fa-check fa-4x"></i>
    <i ng-if="!loaded" class="fa fa-cog fa-spin fa-4x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</section>
