<section id="main">
    <div id="pricing">
        <div class="princing-inner">
            <h2>Choose your flavor!</h2>

            <table>
                <thead>
                    <tr>
                        <td></td>
                        <th>Free plan</th>
                        <th>Paid plan</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td><a href="start">Start now</a></td>
                        <td><a href="subscribe">Subscribe</a></td>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <th>Leave requests</th>
                        <td>Available</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <th>Time saving deposits accounts</th>
                        <td>Available</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <th>Workperiod recovery</th>
                        <td>Available</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <th>Links with google accounts</th>
                        <td>Available</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <th>Export to excel spreadsheets</th>
                        <td>Available</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <th>Maximum number of active users</th>
                        <td>5</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <th>Inactivity timout</th>
                        <td>60 days</td>
                        <td>Unlimited</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<%- partial('common/create', null, {cache: !config.relative_link}) %>
