<section id="main">

    <div id="resetpassword" class="accountform">

        <h2><%= __('reset.setpassword') %></h2>

        <form method="POST" action="../new">
            <p>
                <label for="password"><%= __('reset.password') %></label>
                <input type="password" id="password" name="password" value="" />
            </p>

            <p><button type="submit"><i class="fa fa-key"></i> <%= __('reset.save') %></button></p>
        </form>
    </div>
</section>

<%- partial('common/create') %>
