<section id="main" class="accountform">

    <h2><%= __('reset.setpassword') %></h2>

    <form method="POST" action="../new">
        <p>
            <label for="password"><%= __('reset.password') %></label>
            <input type="password" id="password" name="password" value="" />
        </p>

        <p><button type="submit"><i class="fa fa-key"></i> <%= __('reset.save') %></button></p>
    </form>

</section>

<%- partial('common/create') %>
