<section id="main">

    <form method="POST" action="local-signin">
        <p>
            <label for="email">Enter your email.</label>
            <input type="text" id="email" name="email" value="" />
        </p>

        <p>
            <label for="password">And your password.</label>
            <input type="password" id="password" name="password" value="" />
        </p>

        <button type="submit"><i class="fa fa-key"></i> Continue</button>
    </form>

    <a href="local-signup"><i class="fa fa-key"></i> Sign up</a>

</section>
