<section id="main" class="accountform">

    <h2>Sign in with your gadael.com account</h2>

    <form method="POST" action="../local-signin">
        <p>
            <label for="email">Enter your email.</label>
            <input type="text" id="email" name="email" value="" />
        </p>

        <p>
            <label for="password">And your password.</label>
            <input type="password" id="password" name="password" value="" />
        </p>

        <p><button type="submit"><i class="fa fa-key"></i> Continue</button></p>

        <p>No account yet? <a href="../signup">Register an account</a> or login with a third party provider</p>
    </form>

</section>


<%- partial('common/loginservices') %>
